---

---

	<footer>
		<div class="footer-main">
			<section class="about">
				<h3>About</h3>
				<p>staykoding merupakan blog yang membahas seputar dunia pemrograman dan pembelajaran serta tutorial pemrograman terkhususnya web development.</p>
			</section>
			<section class="page">
			  <h3>Pages</h3>
				<ul>
					<li><a href="/page/about">&rarr; About</a></li>
					<li><a href="/page/contact">&rarr; Contact</a></li>
					<li><a href="/page/privacy-policy">&rarr; Privacy Policy</a></li>
					<li><a href="/page/disclaimer">&rarr; Disclaimer</a></li>
					<li><a href="#">&rarr; Terms Of Service</a></li>
				</ul>
			</section>
		</div>
		<p class="copyright"><span>&reg;</span> All Right Reserved by StayKoding</p>
	</footer>