---

---

	<footer>
		<div class="footer-main">
			<section class="about">
				<h3>About</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo optio perspiciatis cupiditate quaerat, fugiat nostrum illo maiores dolore ut exercitationem ipsum hic corporis nam impedit, id, voluptatibus quae repellat iste.</p>
			</section>
			<section class="page">
				<ul>
					<li><a href="/page/about">&rarr; About</a></li>
					<li><a href="/page/contact">&rarr; Contact</a></li>
					<li><a href="/page/privacy-policy">&rarr; Privacy Policy</a></li>
					<li><a href="/page/disclaimer">&rarr; Disclaimer</a></li>
					<li><a href="#">&rarr; Terms Of Service</a></li>
				</ul>
			</section>
		</div>
		<p class="copyright"><span>&reg;</span> All Right Reserved by StayKoding</p>
	</footer>