---
import { Icon } from 'astro-icon'
---

	<header>
		<div class="social-media">
			<ul>
				<li><i class="fab fa-facebook"></i></li>
				<li><i class="fab fa-whatsapp"></i></li>
				<li><i class="fab fa-telegram"></i></li>
			</ul>
		</div>
		<div class="logo">
			<img src="https://1.bp.blogspot.com/--SG17cILL4A/YXgdtf5suCI/AAAAAAAADtE/1am1bquQc8QGsaTbdI9zD5RICHh3r51ggCNcBGAsYHQ/s515/logo-staykoding.jpg" alt="StayKoding" width="300px" />
		</div>
		<div class="more-menu">
			<button type="button">
				<Icon name="bi:moon-stars-fill" width={20}/>
			</button>
		</div>
	</header>