---
import { Icon } from 'astro-icon'
---

	<header>
		<div class="social-media">
			<ul>
				<li><Icon name="eva:facebook-outline" /></li>
				<li><Icon name="akar-icons:whatsapp-fill" /></li>
				<li><Icon name="eva:twitter-outline" /></li>
			</ul>
		</div>
		<div class="logo">
			<a href="/"><img src="https://1.bp.blogspot.com/--SG17cILL4A/YXgdtf5suCI/AAAAAAAADtE/1am1bquQc8QGsaTbdI9zD5RICHh3r51ggCNcBGAsYHQ/s515/logo-staykoding.jpg" alt="StayKoding" width="300px" /></a>
		</div>
		<div class="more-menu">
			<button type="button" aria-label="dark mode" class="dark_btn">
				<Icon name="bi:moon-stars-fill" width={20}/>
			</button>
		</div>
	</header>