---
import { Icon } from 'astro-icon'
---

  <nav>
		<span class="btn_menu">
			<span></span>
			<span></span>
			<span></span>
		</span>
		<div class="menu">
			<span class="close_menu">
				<i class="fas fa-times"></i>
			</span>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Pemrograman</a></li>
				<li><a href="#">Framework</a></li>
				<li><a href="#">Tutorials</a></li>
			</ul>
		</div>
	</nav>