---
import { Icon } from 'astro-icon'
---

  <nav>
		<span class="btn_menu">
			<span></span>
			<span></span>
			<span></span>
		</span>
		<div class="menu">
			<span class="close_menu">
				<Icon name="codicon:chrome-close" width={20}/>
			</span>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/categories/html">HTML</a></li>
				<li><a href="/categories/css">CSS</a></li>
				<li><a href="/categories/tips">Tips</a></li>
			</ul>
		</div>
	</nav>
	
<script>
const btn_menu = document.querySelector('.btn_menu');
const close_menu = document.querySelector('.close_menu');
const menu = document.querySelector('.menu');

btn_menu.onclick = () => {
  menu.classList.add('active');
}
close_menu.onclick = () => {
  menu.classList.remove('active');
}

	const darkBtn = document.querySelector('.dark_btn');
	const bodyEl  = document.querySelector('body');

	const darkMode = () => {
		bodyEl.classList.toggle('dark');
	}

	darkBtn.onclick = () => {
		//get the value of the "dark" item from the local storage on every click
		setDarkMode = localStorage.getItem('dark');

		if (setDarkMode !== "on") {
			darkMode();
			//set the value of the item to "on" when dark mode is on
			setDarkMode = localStorage.setItem('dark', 'on');
		}else{
			darkMode();
			//set the value of the item to "null" when dark mode if off
			setDarkMode = localStorage.setItem('dark', null);
		}
	}

	//get the value of the "dark" item from the local storage
	let setDarkMode = localStorage.getItem('dark');

	//check dark mode is on or off on page reload
	if (setDarkMode == 'on') {
		darkMode();
	}

</script>