---
const { page } = Astro.props;
---
<div class="navigation">
  {page.url.prev && <a class="prev" href={page.url.prev} title="go to previues">&larr; prev</a>}
  {page.url.next && <a class="next" href={page.url.next} title="go to next">next &rarr;</a>}
</div>