---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'

const {title, description, author} = Astro.props;
---
<html lang="en">
<head>
  <BaseHead title={title} description={description} author={}/>
</head>
<body>

<Header />
<Nav />
<!-- render artikel -->
	<slot />
<!-- end render -->
<Footer />

</body>
</html>
