---
import BaseLayout from './BaseLayout.astro';

const {content} = Astro.props;
---
	
<BaseLayout title={content.title} description={content.description}>
  <article class="article-post">
		<main>
			<div class="title-post">
				<h1>{content.title}</h1>
			</div>
			<div class="body-post">
			<!-- render single artikel -->
	      <slot />
      <!-- end render -->
      </div>
		</main>
	</article>
</BaseLayout>